*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
android/google-services.json
keystore
ios/ios/GoogleService-Info.plist
ios/ios.xcodeproj/project.xcworkspace/